<!DOCTYPE html>
<html lang ="eng">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../../../favicon.ico">
                <title>Samādhāna</title>
                <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
                        <!-- Bootstrap core CSS -->
                <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

                <!-- Custom styles for this template -->
                <link href="jumbotron.css" rel="stylesheet">

                <style>

                body{
                            text-align: center;
                            background:rgba(223, 215, 215, 0.911);
                }

                        
                </style>
                
            
            
            </head>
            <body>
                {% load static %}
                    {% include 'includes/_navbar.html' %}
                    <div class="container">
                    {% block body %}{% endblock %}
                    
                        
                          

                          <main role="main">
                      
                            <!-- Main jumbotron for a primary marketing message or call to action -->
                            <div class="jumbotron">
                              <div class="container1">
                                <h1 class="display-3"><b>Samādhāna</b></h1>
                                <p>Sanskrit noun derived from the word, samādhā (समाधा), and variously means – putting together, uniting, fixing the mind in abstract contemplation on the true nature of the soul, contemplate oneness.</p>
                                <p>This website intends to put together and unite people while fixing the problems that arise from natural disasters around the world. Your support could make a world of difference for the victims of these unfortunate events.</p>
                                <!-- <img class = 'header' src="{% static 'irc-hero.jpg' %}" width="600" height="550" alt="firefighters.jpg"> -->
                              </div>
                            </div>
                      
                            <div class="container">
                              <!-- Example row of columns -->
                              <div class="row">
                                <div class="col-md-4">
                                  <h2>Fire in Redding,CA (United States)</h2>
                                  <p>(CNN) Catastrophic wildfires continue to ravage California, as one blaze nearly doubled in size over the last three days, making it the largest in the state's history.

                                        No one has been injured in the Mendocino Complex Fire, which consists of two fires -- the Ranch Fire and the River Fire -- burning around Clear Lake, in several counties in Northern California.Combined, they form the biggest blaze that California firefighters are currently battling. Altogether, the Mendocino Complex Fire has burned 283,800 acres -- growing about 80% since Friday night. As of Monday evening, it was 30% contained and had destroyed 75 residences.
                                        The Mendocino Complex Fire has now surpassed last year's Thomas Fire, which burned 281,893 acres in Ventura and Santa Barbara counties, as the largest fire in Cal Fire history.</p>
                                  <p><a class="btn btn-secondary" href="/california" role="button">View details <i class="fas fa-fire"></i></a></p>
                                </div>
                                <div class="col-md-4">
                                  <h2>Flood in Kerala <br>(India)</h2>
                                  <p>(CNN) Floods in the southern Indian state of Kerala have killed more than 350 people since June. The BBC's Navin Singh Khadka explains why they were so deadly this time.

                                        The devastating floods in Kerala peaked last week. The monsoon rains have since begun to ease and rescue teams have been deployed, but thousands of people remain marooned.
                                        
                                        The state should have been prepared for this - just a month earlier, a government report had warned that Kerala was the worst performer among southern Indian states in the effective management of water resources.
                                        
                                        With 42 points, it was ranked number 12. The top three states were Gujarat in the west, Madhya Pradesh in the centre and Andhra Pradesh in the south, with scores of 79, 69 and 68 respectively.
                                        
                                        A month down the line, Kerala seems to have confirmed the report's finding. </p>
                                  <p><a class="btn btn-secondary" href="/kerala" role="button">View details <i class="fas fa-swimmer"></i></a></p>
                                </div>
                                <div class="col-md-4">
                                  <h2>Mudslides in Freetown (Sierra Leone)</h2>
                                  <p>(CNN) One year after Sierra Leone suffered a devastating mudslide that wiped out entire communities in its capital, survivors say they are are struggling to afford meals and decent accommodation.

                                        Survivors who lost their livelihoods say they have no source of income to rebuild their lives.
                                        In the aftermath of the disaster, the government provided temporary accommodation for survivors. They also gave cash to others who opted to find alternative housing for their families.
                                        Pawa Koroma, 58, said he was given the equivalent of $300 by the government to rent a home for his family of nine.
                                        But despite that intervention, challenges remain. His rent is coming due, and he fears his family could be out on the streets again. Mudslide survivor Pawa Koroma worries his family may soon be on the streets again.
                                        </p>
                                  <p><a class="btn btn-secondary" href="/freetown" role="button">View details <i class="fas fa-hand-rock"></i></a></p>
                                </div>
                              </div>

                              
                      
                              <hr>
                      
                            </div> <!-- /container -->
                      
                          </main>
                      
                          
                      
                          <!-- Bootstrap core JavaScript
                          ================================================== -->
                          <!-- Placed at the end of the document so the pages load faster -->
                          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                          <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
                          <script src="../../assets/js/vendor/popper.min.js"></script>
                          <script src="../../dist/js/bootstrap.min.js"></script>
            </body>
        </html>