<!DOCTYPE html>
<html lang ="eng">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../../../favicon.ico">
                <title>Samādhāna</title>
                <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
                        <!-- Bootstrap core CSS -->
                <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

                <!-- Custom styles for this template -->
                <link href="jumbotron.css" rel="stylesheet">

                <style>

                        body{
                            text-align: center;
                        }
                </style>
            
            
            </head>
            <body>
                    {% include 'includes/_navbar.html' %}
                    <div class="container">
                    {% block body %}{% endblock %}
                    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                            <a class="navbar-brand" href="#">Samādhāna</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                      
                            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                      </li>
                              </ul>
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                            </div>
                          </nav> -->
                      
                          <main role="main">
                      
                            <!-- Main jumbotron for a primary marketing message or call to action -->
                            <div class="jumbotron">
                              <div class="container">
                                <h1 class="display-3"><b>Organizations</b></h1>
                                <p>If you would like to support NGOs (Non-governmental organizations) you can find out more information here.</p>
                                
                                <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more <i class="fas fa-sitemap"></i></a></p> -->
                              </div>
                            </div>
                      
                            <div class="container">
                              <!-- Example row of columns -->
                              <div class="row">
                                <div class="col-md-4">
                                  <h2>American Red Cross</h2>
                                  <p>We respond to an emergency every 8 minutes.
                                        No one else does this: not the government, not other charities. From small house fires to multi-state natural disasters, the American Red Cross goes wherever we’re needed, so people can have clean water, safe shelter and hot meals when they need them most.
                                        More than 12.8 million meals and snacks served with our partners. More than 5.2 million relief items distributed. More than 40,800 health and mental health contacts made.</p>
                                  <p><a class="btn btn-secondary" href="#" role="button">SUPPORT <i class="fas fa-sitemap"></i></a></p>
                                </div>
                                <div class="col-md-4">
                                  <h2>International Rescue Committee</h2>
                                  <p>Make a donation.
                                        Help the IRC save refugee families in crisis. Make your tax-deductible gift today.
                                        
                                        Founded in 1933 at the request of Albert Einstein, the IRC delivers lifesaving care to people fleeing conflict and natural disaster. Year after year, the IRC is one of the highest-ranking nonprofits for accountability, transparency, and efficient use of contributions. </p>
                                  <p><a class="btn btn-secondary" href="#" role="button">SUPPORT <i class="fas fa-sitemap"></i></a></p>
                                </div>
                                <div class="col-md-4">
                                  <h2>US Fund for UNICEF</h2>
                                  <p>UNICEF leads in times of emergency
                                        Founded in 1946 to help children suffering in the aftermath of World War II, UNICEF provides children and families with disaster relief whenever emergencies strike. 
                                        
                                        Every year, UNICEF responds to more than 250 emergencies—from conflicts to natural disasters. UNICEF provided more than 20 million children with safe, clean water in 2013 emergency situations. In 2014, UNICEF helped 60 million children.
                                        </p>
                                  <p><a class="btn btn-secondary" href="#" role="button">SUPPORT <i class="fas fa-sitemap"></i></a></p>
                                </div>
                              </div>
                      
                              <hr>
                      
                            </div> <!-- /container -->
                      
                          </main>
                      
                        
                          <!-- Bootstrap core JavaScript
                          ================================================== -->
                          <!-- Placed at the end of the document so the pages load faster -->
                          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                          <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
                          <script src="../../assets/js/vendor/popper.min.js"></script>
                          <script src="../../dist/js/bootstrap.min.js"></script>
            </body>
        </html>